body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* @media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: purple;
  }
} */
/* @media (max-width: 1500px) {
  h1 {
    color: yellow;
  }
}
@media (max-width: 1000px) {
  h1 {
    color: red;
  }
}
@media (max-width: 500px) {
  h1 {
    color: red;
  }
} */
h1 {
  color: coral;
}
@media (min-width: 500px) {
  h1 {
    color: palegreen;
  }
}
@media (min-width: 1000px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 1500px) {
  h1 {
    color: plum;
  }
}
@media (orientation: landscape) {
  body {
    background-color: magenta;
  }
}
/* Responsive Design  */
/* The Problem */
/* As mobile devices and tablets become widely available, developers had a problem... how do we create websites that look good on all screen sizes? */
/* One Approach 
Early on, it was common to create separate stylesheets for different devices, or even completely different websites for each size.*/
/* Enter responsive*/
/* These days, we typically create One website and stylesheets that is able to respond to different device sizes */
