section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}
#rgba {
  width: 50%;
  height: 50%;
  /* with hex you can see better the transparency */

  background-color: rgba #23ba23d9;
}
#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.9;
}
