h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: #f2f2f2 underline wavy;
  letter-spacing: 15px;
  font-size: 80px;
  font-family: Segoe UI, Futura, Aril;
}
a {
  text-decoration: none;
}

p {
  line-height: 2;
}
