section {
  width: 80%;
  height: 800px;
  background-image: url("https://images.unsplash.com/photo-1642706879731-c671fb881d04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-position: center/30%;
  margin: 0 auto;
}

h1 {
  font-size: 150px;
  text-align: center;
  text-shadow: black -6px 6px;
  font-family: "Tahoma", Courier, monospace;
  font-weight: lighter;
  color: rgba(108, 77, 20, 0.804);
}
